:root {
    --light-block-bg: linear-gradient(to right, #ffef63, #ffa551);
    --dark-nav-bg: linear-gradient(to right, #160030, #07001f);
    --dark-block-bg: linear-gradient(to right, #2c0035, #0b002e);
    --light-ability-bg: linear-gradient(to right, #ff9f0f, #ff1550);
    --dark-ability-bg: linear-gradient(to right, #7db1ff, #4e0058);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #111; */
    background: var(--dark-nav-bg);
    color: #fff;
}

.navbar {
    background: var(--dark-nav-bg);
}

.light-mode .navbar {
    background: var(--light-block-bg);
}
.light-mode .navbar .navbar-nav .nav-item .nav-link {
    color: #000;
}
.light-mode .navbar .navbar-brand {
    color: #000;
}

.light-mode body {
    color: #333;
}

header {
    text-align: center;
    color: #fff;
    padding: 100px 0 150px 0;
}

.light-mode header {
    color: #000;
}

header .h1 {
    font-size: 3em;
    margin-bottom: 20px;
    /* text-shadow: 4px 4px 5px rgb(255, 255, 255, 0.5); */
}

header p {
    font-size: 1.2em;
}

/* .scroll-down {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
} */

section {
    padding: 50px 0;
}

.row {
    padding: 12px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.h2 {
    font-size: 2em;
    margin-bottom: 20px;
    /* text-shadow: 4px 4px 5px rgb(255, 255, 255, 0.5); */
}

.light-mode h2 {
    color: #000;
}

.light-mode h3 {
    color: #000;
}

.feature {
    margin-top: 40px;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}

footer p {
    margin: 0;
}

.rounded-mifoto {
    border-radius: 50%;
    background: linear-gradient(to right, #1a202c, #2d3748);
    padding: 4px;
    box-shadow: 0 0 3px 5px rgba(48, 32, 73, 0.9);
    background: #1a202c;
    background: linear-gradient(to right, #5700b9, #67007c);
    position: relative;
}

.parafos {
    color: #b8b8b8;
}

.light-mode .parafos {
    color: #333;
}

.light-mode .mb-3 {
    color: #333;
}

.custom-card {
    background: linear-gradient(to right, #d8caff, #bdb2ff);
    padding: 4px;
    position: relative;
}

.light-mode .custom-card {
    /* background: linear-gradient(to right, #d8caff, #bdb2ff); */
    background: #fff;
}

.custom-card img {
    border-radius: 2px;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    filter: blur(1px);
    opacity: 0.7;
}

/*#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #160030, #07001f);
    opacity: 0.8;
    z-index: 0;
}*/

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-card {
    border-radius: 1rem;
    /* background: linear-gradient(to right, #160030, #07001f); */
    position: relative;
}

.block-card::before {
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    background: var(--dark-nav-bg);
    transition: background_colorChange 0.5s ease-in-out;
}

.light-mode .block-card::before {
    background: var(--light-block-bg);
    transition: background_colorChange 0.5s ease-in-out;
}

@keyframes background_colorChange {
    from {
        background: var(--light-block-bg);
    }
    to {
        background: var(--dark-nav-bg);
    }
}


.ability-card {
    border-radius: 1rem;
    /* background: linear-gradient(to right, #160030, #07001f); */
    position: relative;
    z-index: 3;
    transition: transform 0.3s ease-in-out;
    top: 120px;
}

.ability-card::before {
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--dark-ability-bg);
    opacity: 0.8;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
}

.light-mode .ability-card::before {
    background: var(--light-ability-bg);
}

.ability-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.ability-card:hover::before {
    box-shadow: 0 0 3px 5px rgba(204, 172, 255, 0.9);
    opacity: 0.9; 
    transition: opacity 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}


/* Общие стили кнопки */
.toggle-theme-button {
    font-size: 16px;
    padding: 10px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Стили для светлой темы */
.light-mode .toggle-theme-button {
    background-color: #3498db;
    color: #333;
}

/* Стили для темной темы */
.toggle-theme-button {
    background-color: #2c3e50;
    color: #fff;
}

/* Эффект при наведении */
.toggle-theme-button:hover {
    filter: brightness(1.2);
}

/* Анимация при переключении темы */
@keyframes colorChange {
    from {
        color: #fff;
    }
    to {
        color: #333;
    }
}

/* Применение анимации при добавлении/удалении класса */
.toggle-theme-button::before {
    content: '🌙';
    display: inline-block;
    margin-right: 5px;
    animation: colorChange 0.5s ease-in-out;
}

.light-mode .toggle-theme-button::before {
    content: '☀️';
    display: inline-block;
    margin-right: 5px;
    animation: colorChange 0.5s ease-in-out;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.project-card {
    width: calc(33.33% - 20px); /* для десктопа, учитывая отступы между карточками */
    margin-bottom: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 100%;
    height: inherit;
}

.read-more-btn {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    background-color: #3498db; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 8px 15px; /* Внутренние отступы */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.read-more-btn:hover {
    background-color: #2980b9; /* Цвет фона при наведении */
}

.hide-description-btn {
    display: none;
    margin-top: 10px;
    cursor: pointer;
    background-color: #3498db; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 8px 15px; /* Внутренние отступы */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.hide-description-btn:hover {
    background-color: #2980b9; /* Цвет фона при наведении */
}

.full-description {
    display: none;
}

.full-description img {
    max-width: 100%; /* Изображения будут масштабироваться в пределах родительского блока */
    height: auto;
    margin-top: 10px; /* Добавьте отступ между изображениями */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .project-card {
        width: 100%;
        margin-bottom: 100px;
    }
}