body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #111; */
    background: linear-gradient(to right, #160030, #07001f);
    color: #fff;
}

header {
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

header .h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgb(255, 255, 255, 0.5);
}

header p {
    font-size: 1.2em;
}

.scroll-down {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px 0;
}

.row {
    padding: 12px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgb(255, 255, 255, 0.5);
}

.feature {
    margin-top: 40px;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}

footer p {
    margin: 0;
}

.rounded-mifoto {
    border-radius: 50%;
    /* width: 50%; */
    background: linear-gradient(to right, #1a202c, #2d3748);
    padding: 4px;
    /* border-radius: 0.75rem; */
    /* border-radius: 50%; */

    box-shadow: 0 0 3px 5px rgba(48, 32, 73, 0.9);

    background: #1a202c;
    background: linear-gradient(to right, #5700b9, #67007c);

    position: relative;
}

.parafos {
    color: #b8b8b8;
}

.custom-card {
    background: linear-gradient(to right, #d8caff, #bdb2ff);
    /* background-color: #ffffff; */
    padding: 4px;
    position: relative;
}

.custom-card img {
    border-radius: 2px;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    filter: blur(1px);
    opacity: 0.3;
}

/*#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #160030, #07001f);
    opacity: 0.8;
    z-index: 0;
}*/

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-card {
    border-radius: 1rem;
    /* background: linear-gradient(to right, #160030, #07001f); */
    position: relative;
    /* z-index: 1; */
}

.block-card::before {
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #2c0035, #0b002e);
    opacity: 0.7;
    /* filter: blur(1px); */
    /* z-index: 0; */
}
