body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #111; */
    background: linear-gradient(to right, #160030, #07001f);
    color: #fff;
}

header {
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
}

.scroll-down {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.feature {
    margin-top: 40px;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}

footer p {
    margin: 0;
}

.rounded-mifoto {
    border-radius: 50%;
    /* width: 50%; */
    background: linear-gradient(to right, #1a202c, #2d3748);
    padding: 4px;
    /* border-radius: 0.75rem; */
    /* border-radius: 50%; */

    /* Градиентная тень */
    box-shadow: 0 0 3px 5px rgba(48, 32, 73, 0.9);

    /* Поддержка для старых браузеров */
    background: #1a202c; /* Базовый цвет */
    background: linear-gradient(to right, #5700b9, #67007c); /* Градиентный фон */

    position: relative;
}

.parafos {
    color: #b8b8b8;
}

.custom-card {
    background: linear-gradient(to right, #1a202c, #2d3748);
    padding: 4px;
    /* border-radius: 0.75rem; */
    /* border-radius: 50%; */

    /* Градиентная тень */
    box-shadow: 0 0 3px 5px rgba(48, 32, 73, 0.9);

    /* Поддержка для старых браузеров */
    background: #1a202c; /* Базовый цвет */
    background: linear-gradient(to right, #5700b9, #67007c); /* Градиентный фон */

    position: relative;
}

.custom-card img {
    border-radius: 2px;
}

.custom-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, transparent 0, rgba(173, 165, 165, 0.1) 100%);
    z-index: -1;
    border-radius: 0.5rem;
}